.activeSort {
	transform: rotate(180deg);
}
.sortArr {
	height: 20px;
	width: 20px;
}
.sorted {
	display: flex;
	align-items: center;
}
.options {
	color: #A5D364;
	font-weight: bold;
	cursor: pointer;
	margin-left: 5px;
}
.sortLabel {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;

	svg {
		margin-right: 8px;
	}

	b {
		margin-right: 8px;
	}

	span {
		color: #A5D364;
		border-bottom: 1px dashed#9d45c3;
		cursor: pointer;
	}
}
.popupWindow {
	position: absolute;
	z-index: 10;
	margin-top: 190px;
	margin-left: 100px;
	background: #ffffff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	overflow: hidden;
	padding: 0px 0;
	width: 160px;
	transition: 0.2s;
	opacity: 1;
	ul {
		overflow: hidden;
		list-style-type: none;
		padding: 0;
		text-align: center;
		li {
			padding: 12px 20px;
			cursor: pointer;

			&.active,
			&:hover {
				background: rgba(64, 30, 254, 0.05);
			}

			&.active {
				font-weight: bold;
				color: #A5D364;
			}
		}
	}
}
.none {
	opacity: 0;
}
