.Home {
  margin-top: 50px;
}
.stocks {
  background-color: #f4efe9;
  width: 1200px;
  height: 300px;
	border-radius: 20px;
	display: flex;
	@media (min-width: 1400px) {
		width: 1000px;
	}
	@media (min-width: 1600px) {
		width: 1300px;
	}
	
	.col__left {
		padding: 70px;
		width: 500px;
	
		p{
			font-size: 60px;
			margin: 0;
			font-weight: bold;
		}
		span{
			color: #8BB43C;
		}
	}
	
}
.main{
	.title {
		margin-top: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		h2{
			font-size: 42px;
		}
		
	}
	.items{
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		gap: 70px;
	}
}
