.myButton {
	color:#fff;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 14px 0;
	width: 200px;
	font-size: 16px;
	background-color: #A5D364;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	transition: all 0.5s;
	Link{
		color:#fff;
	}
}
.myButton:hover{
	filter: brightness(70%);
}