.Search{
	width: 200px;
	height: 45px;
	border: 2px solid #F3F3F3;
	padding: 0 40px;
	font-size: 14px;
	color: #5C5C5C;
}
.Search:focus{
	outline: none;
}
.img{
	position: relative;
	right: 270px;
	top: 2px;	
}